.content {
  position: relative;
}

.div-centrale {
  position: relative;
  width: 20%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: double 20px;
  border-radius: 20px;
}

.img-centrale {
  width: 100%;
}


#overlay-centrale {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  opacity: 0;

  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.animation-breathing {
  -webkit-animation: breathing 2s ease-out infinite normal;
  animation: breathing 2s ease-out infinite normal;
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
  }

  60% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

#overlay-centrale:hover {
  opacity: 1;
}

.hidden-div {
  position: absolute;
  width: 100px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: white;
  border-radius: 10px;
  opacity: 0;
  transform: scale(0) translate(0, 0);
  transform-origin: center center;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.hidden-div.show {
  opacity: 1;
  transform: scale(1) translate(0, 0);
}

.hidden-div>img {
  width: 50%;
}

/* Positionnement des 7 divs autour de l'image en cercle */

#div1 {
  top: 150px;
  right: calc(30% - 50px);
}

#div2 {
  top: 50%;
  right: 350px;
  transform: translateY(-50%);
}

#div3 {
  bottom: 150px;
  right: calc(30% - 50px);
}

#div4 {
  bottom: 150px;
  left: calc(30% - 50px);
}

#div5 {
  top: 50%;
  left: 350px;
  transform: translateY(-50%);
}

#div6 {
  top: 150px;
  left: calc(30% - 50px);
}

@media screen and (max-width: 435px) {
  .div-centrale {
    width: 50%;
  }
}
